---
import LOOKBOOK from "../../data/lookbook.json";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [
    { params: { id: 1 } },
    { params: { id: 2 } },
    { params: { id: 3 } },
    { params: { id: 4 } },
    { params: { id: 5 } },
  ];
}

const { id } = Astro.params;

const data = LOOKBOOK[id - 1];
function changeFoto(this) {
  var bigFoto = document.getElementById("main");
  document.getElementById("main").src = this.src;
}
---

<Layout title="Dark Rebellion">
  <div class="w-[22%] h-full pl-4 pt-4 pb-4 pr-2 lg:w-[12%] relative rounded">
    {
      data.imgs.map((img, index) => (
        <img
          id={index + ""}
          src={img}
          alt={data.title}
          class="rounded mb-3 miniFoto hover:scale-105 duration-100"
          onclick={(e) => changeFoto(e, img)}
        />
      ))
    }
  </div>
  <div class="w-[78%] h-full pl-2 pt-4 pb-4 pr-4 lg:w-[43%] relative">
    <img
      id="main"
      src={data.imgs[0]}
      alt={data.title}
      class="rounded relative"
    />
  </div>
  <div class="w-full h-full pl-2 pt-4 pb-4 pr-4 lg:w-[45%] relative text-white">
    {
      data.items.map((item, index) => (
        <>
          <p>{item.description}</p>
          <p>Ref.:{item.ref} </p>
          <br />
        </>
      ))
    }
  </div>
</Layout>

<script>
  const minis = document.getElementsByClassName("miniFoto");
  for (let i = 0; i < minis.length; i++) {
    const mini = minis[i];
    mini.addEventListener("mouseover", () => {
      console.log(mini.src);
      bigFoto.src = mini.src;
    });
  }

  const bigFoto = document.getElementById("main");
</script>
