---
import LOOKBOOK from "../../data/lookbook.json";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [
    { params: { id: 1 } },
    { params: { id: 2 } },
    { params: { id: 3 } },
    { params: { id: 4 } },
    { params: { id: 5 } },
  ];
}

const { id } = Astro.params;

const data = LOOKBOOK[id - 1];
---

<Layout title="Dark Rebellion">
  <div class="w-[22%] h-full pl-4 pt-4 pb-4 pr-2 lg:w-[12%] relative rounded">
    {
      data.imgs.map((img, index) => (
        <img
          id={index + ""}
          src={img}
          alt={data.title}
          loading="eager"
          class="rounded mb-3 miniFoto hover:scale-105 duration-100"
        />
      ))
    }
  </div>
  <div class="w-[78%] h-full pl-2 pt-4 pb-4 pr-4 lg:w-[43%] relative">
    <img
      id="main"
      src={data.imgs[0]}
      alt={data.title}
      class="rounded relative"
      loading="eager"
    />
  </div>
  <div class="w-full h-full pl-2 pt-4 pb-4 pr-4 lg:w-[45%] relative text-white">
    <a href="/lookbook"
      ><span class="float-right bg-white p-2 ml-3 mb-3 rounded">❌</span></a
    >

    {
      data.items.map((item, index) => (
        <div>
          <p class="">{item.description}</p>
          <p class="text-red-500 mb-8">Ref.:{item.ref} </p>
        </div>
      ))
    }
  </div>
</Layout>

<script>
  const bigFoto = document.getElementById("main") as HTMLImageElement;

  const minis = document.getElementsByClassName("miniFoto");
  for (let i = 0; i < minis.length; i++) {
    const mini = minis[i] as HTMLImageElement;
    mini.addEventListener("mouseover", () => {
      if (bigFoto.src != mini.src) {
        bigFoto.src = mini.src;
      }
    });
  }
</script>
